<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<div class="main-container"><!--d-flex-->
    <div class="sidebar position-fixed h-100" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 class="fs-4">
                <span class="bg-white text-success rounded shadow px-2 me-2">OS</span>
                <span class="text-white">OnSchedule</span>
            </h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
                <i class="fal fa-stream"></i>
            </button>
        </div>
        <ul class="list-unstyled px-2">
            <li class="active">
                <a href="http://localhost:4200/dashboard#dashboard-content"
                    class="text-decoration-none px-3 py-2 d-block">
                    <i class="fal fa-home"></i> Dashboard</a>
            </li>
            <li class="">
                <a href="http://localhost:4200/dashboard#bookings" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fal fa-list"></i>
                    Bookings</a>
            </li>
            <li class="">
                <a href="http://localhost:4200/dashboard#bus-details"
                    class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
                    <span><i class="fal fa-bus"></i> Bus Schedule</span>
                    <!--<span class="bg-white rounded-pill text-dark py-0 px-2">02</span>-->
                </a>
            </li>
            <li class="">
                <a href="http://localhost:4200/dashboard#transition" class="text-decoration-none px-3 py-2 d-block">
                    <i class="fal fa-envelope-open-dollar"></i> Transactions</a>
            </li>
            <li class="">
                <a href="http://localhost:4200/dashboard#Passenger" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fal fa-users"></i>
                    Feedback</a>
            </li>
            <li class="">
                <a href="http://localhost:4200/dashboard#cancel" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fal fa-ban"></i> Booking Cancel</a>
            </li>
        </ul>
        <hr class="h-color mx-2" />
    </div>
    <div class="content" id="dashboard-content">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light nav-bg">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn me-2">
                            <i class="fal fa-stream"></i>
                        </button>
                        <a class="navbar-brand fs-4" href="#"><span
                                class="bg-white rounded px-2 py-0 text-success">OS</span></a>
                    </div>
                    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="dashboard-content px-3 pt-4">
                <div class="row">
                    <div class="col col-sm-12 col-b mb-2">
                        <h1 class="text-center text-1">Bookings</h1>
                        <h1 class="text-center text-1">{{bookingsCount}}</h1>
                    </div>
                    <div class="col col-sm-12 col-b mb-2">
                        <h1 class="text-center text-1">Buses</h1>
                        <h1 class="text-center text-1">{{busesCount}}</h1>
                    </div>
                    <div class="col col-sm-12 col-b mb-2">
                        <h1 class="text-center text-1">Transactions</h1>
                        <h1 class="text-center text-1">{{TransactionCount}}</h1>
                    </div>
                </div>

                <div class="card-header my-3 d-flex justify-content-between" id="bookings">
                    <h2 class="font-weight-bold">Bookings</h2>
                    <div class="d-flex">
                        <input type="text" class="form-control border-gray rounded-pill" style="max-width: 400px"
                            placeholder="Enter NIC Number" [(ngModel)]="searchTerm" />
                        <div class="input-group-append d-flex">
                            <a class="btn btn-success m-1 mx-2" (click)="searchMe()">
                                Search
                            </a>
                            <a class="btn btn-primary m-1" (click)="refresh()">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--table-->

                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date and Time</th>
                            <th scope="col">NIC Num</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <!--<th scope="col">Email</th>-->
                            <th scope="col">Route</th>
                            <th scope="col">Seat Num</th>
                            <th scope="col">Bus Num</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Time</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let bookings of bookingsList">
                            <td>{{bookings.datetime}}</td>
                            <td>{{bookings.nicnum}}</td>
                            <td>{{bookings.fname}} {{bookings.lname}}</td>
                            <td>{{bookings.phone}}</td>
                            <!--<td>example2023@gmail.com</td>-->
                            <td>{{bookings.from}} - {{bookings.to}}</td>
                            <td>{{bookings.seatnum}}</td>
                            <td>{{bookings.busnum}}</td>
                            <td>{{bookings.amount}}</td>
                            <td>{{bookings.time}}</td>
                            <td>
                                <a class="btn btn-success" [routerLink]="['edit',bookings.id]">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger delete-B" [routerLink]="['delete',bookings.id]">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="card-header my-3 d-flex justify-content-between" id="bus-details">
                    <h2 class="font-weight-bold">Bus Details</h2>
                    <div class="d-flex">
                        <input type="text" class="form-control border-gray rounded-pill" style="max-width: 400px"
                            placeholder="Enter Bus Number" [(ngModel)]="searchTerm1" />
                        <div class="input-group-append d-flex">
                            <a class="btn btn-success m-1 mx-2" (click)="searchBus()">
                                Search
                            </a>
                            <a class="btn btn-primary m-1" (click)="refreshBus()">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-1" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        New Bus
                    </button>
                </div>
                <!--table-->

                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Vehicle Num</th>
                            <th scope="col">Driver Name</th>
                            <th scope="col">Conductor Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Route</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Availability</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bus of busList">
                            <td>{{bus.vnum}}</td>
                            <td>{{bus.dname}}</td>
                            <td>{{bus.cname}}</td>
                            <td>{{bus.phone}}</td>
                            <td>{{bus.route}}</td>
                            <td>{{bus.dt}}</td>
                            <td>{{bus.at}}</td>
                            <td class="{{bus.availability === 'Yes' ? 'green' : 'red'}}">{{bus.availability}}</td>
                            <td>RS {{bus.price}}.00</td>
                            <td>
                                <a class="btn btn-success" [routerLink]="['editbus',bus.id]">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger delete-bus" [routerLink]="['deletebus',bus.id]">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="card-header my-3 d-flex justify-content-between" id="transition">
                    <h2 class="font-weight-bold">Transacions Details</h2>
                    <div class="d-flex">
                        <input type="text" class="form-control border-gray rounded-pill" style="max-width: 400px"
                            placeholder="Enter NIC Number" [(ngModel)]="searchTerm2" />
                        <div class="input-group-append d-flex">
                            <a class="btn btn-success m-1 mx-2 " (click)="searchT()">
                                Search
                            </a>
                            <a class="btn btn-primary m-1" (click)="refreshT()">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col">Amount</th>
                            <th scope="col">NIC Num</th>
                            <th scope="col">Passenger Name</th>
                            <th scope="col">Bus Num</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Destination</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of TransactionList">
                            <td>{{transaction.id}}</td>
                            <td>{{transaction.datetime}}</td>
                            <td>RS {{transaction.amount}}</td>
                            <td>{{transaction.nicnum}}</td>
                            <td>{{transaction.pname}}</td>
                            <td>{{transaction.busnum}}</td>
                            <td>{{transaction.dt}}</td>
                            <td>{{transaction.at}}</td>
                            <td>{{transaction.destination}}</td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="card-header my-3 d-flex justify-content-between" id="Passenger">
                    <h2 class="font-weight-bold">Passengers Feedback</h2>
                    <div class="d-flex">
                        <input type="text" class="form-control border-gray rounded-pill" style="max-width: 400px"
                            placeholder="Enter Bus Number" [(ngModel)]="searchTerm3" />
                        <div class="input-group-append d-flex">
                            <a class="btn btn-success m-1 mx-2 " (click)="searchFeedback()">
                                Search
                            </a>
                            <a class="btn btn-primary m-1" (click)="refreshF()">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Passenger Name</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col">Feedback</th>
                            <th scope="col">Bus Num</th>
                            <th scope="col">Bus Route</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feedbacks of FeedbackList">
                            <td>{{feedbacks.pname}}</td>
                            <td>{{feedbacks.datetime}}</td>
                            <td style="width: 400px">
                                {{feedbacks.feedback}}
                            </td>
                            <td>{{feedbacks.busnum}}</td>
                            <td>{{feedbacks.busroute}}</td>
                            <td>
                                <a class="btn btn-success" [routerLink]="['editfeedback',feedbacks.id]">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger delete-f"
                                    [routerLink]="['deletefeedback',feedbacks.id]">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="card-header my-3 d-flex justify-content-between" id="cancel">
                    <h2 class="font-weight-bold">Cancelled Bookings</h2>
                    <div class="d-flex">
                        <input type="text" class="form-control border-gray rounded-pill" style="width: 220px"
                            placeholder="Enter NIC Number" [(ngModel)]="searchTerm4" />
                        <div class="input-group-append d-flex">
                            <button class="btn btn-success m-1 mx-2" (click)="searchCB()">
                                Search
                            </button>
                            <a class="btn btn-primary m-1" (click)="refreshC()">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--table-->

                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date and Time</th>
                            <th scope="col">NIC Num</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Route</th>
                            <th scope="col">Seat Num</th>
                            <th scope="col">Bus Num</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cancel of CbookingsList">
                            <td>{{cancel.datetime}}</td>
                            <td>{{cancel.nicnum}}</td>
                            <td>{{cancel.fname}} {{cancel.lname}}</td>
                            <td>{{cancel.phone}}</td>
                            <td>{{cancel.from}} - {{cancel.to}}</td>
                            <td>{{cancel.seatnum}}</td>
                            <td>{{cancel.busnum}}</td>
                            <td>{{cancel.amount}}</td>
                            <td>{{cancel.time}}</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

<!-- Add New Bus Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Bus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form (submit)="addNewBus($event)">
                    <div class="mb-3">
                        <label class="form-label">Vehicle Num</label>
                        <input type="text" class="form-control vnum" id="vnum" name="vnum" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Driver Name</label>
                        <input type="text" class="form-control dname" id="dname" name="dname" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Conductor Name</label>
                        <input type="text" class="form-control cname" id="cname" name="cname" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control phone" id="phone" name="phone" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Route</label>
                        <input type="text" class="form-control route" id="route" name="route" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Departure Time</label>
                        <input type="text" class="form-control dt" id="dt" name="dt" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Arrival Time</label>
                        <input type="text" class="form-control at" id="at" name="at" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Availability</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input availability" type="radio" name="availability"
                                    id="availabilityYes" value="Yes" checked />
                                <label class="form-check-label" for="availabilityYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input availability" type="radio" name="availability"
                                    id="availabilityNo" value="No" />
                                <label class="form-check-label" for="availabilityNo">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ticket Price</label>
                        <input type="text" class="form-control price" id="price" name="at" />
                    </div>
                    <div class="modal-footer" style="border-top: 0 none">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success save_bus">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Bookings Modal --
<div class="modal fade" id="editBookings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Bookings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">NIC Num</label>
                        <input type="text" class="form-control" id="nic" value="{{vBookingsList.nicnum}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" value="{{vBookingsList.fname}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" value="{{vBookingsList.lname}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" value="{{vBookingsList.phone}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">From</label>
                        <input type="text" class="form-control" id="from" value="{{vBookingsList.from}}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">To</label>
                        <input type="text" class="form-control" id="to" value="{{vBookingsList.to}}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Seat Num</label>
                        <input type="text" class="form-control" id="seatnum" value="{{vBookingsList.seatnum}}"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Time</label>
                        <input type="text" class="form-control" id="time" value="{{vBookingsList.time}}"/>
                    </div>
                    <div class="modal-footer" style="border-top: 0 none">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success edit-bookings">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->

<!-- Edit bus details Modal -->
<div class="modal fade" id="editBusDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Bus Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Vehicle Num</label>
                        <input type="text" class="form-control" id="Vehicle" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Driver Name</label>
                        <input type="text" class="form-control" id="Driver" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Conductor Name</label>
                        <input type="text" class="form-control" id="Conductor" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" id="Phone" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Departure Time</label>
                        <input type="text" class="form-control" id="Departure" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Arrival Time</label>
                        <input type="text" class="form-control" id="Arrival" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Availability</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Availability" id="availabilityYes"
                                    value="Yes" />
                                <label class="form-check-label" for="availabilityYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Availability" id="availabilityNo"
                                    value="No" />
                                <label class="form-check-label" for="availabilityNo">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: 0 none">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success edit-bookings">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Feedback Modal -->
<div class="modal fade" id="editFeedback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Feedbacks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Passenger Name</label>
                        <input type="text" class="form-control" id="Vehicle" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date and Time</label>
                        <input type="text" class="form-control" id="Driver" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Feedback</label>
                        <input type="text" class="form-control" id="Conductor" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bus Num</label>
                        <input type="text" class="form-control" id="Phone" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bus Route</label>
                        <input type="text" class="form-control" id="Departure" />
                    </div>
                    <div class="modal-footer" style="border-top: 0 none">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success edit-bookings">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>